{% extends "portfolio/base.html"%}
{% block content%}
  <h1>Maher Portfolio</h1>

  {% load static %}

  <a href="{% url 'blog:all_blogs' %}">Blog</a>
  <br>
  <img src="{% static 'portfolio/nnnnn.jpg' %}" height="420rem" width="480rem">
  <br>
  <a href="{% static 'portfolio/Resume.pdf' %}">Resume</a>
  

  {% for x in projects %}
  <Div>
  <img src="{{ x.image.url }}" height="220rem" width="280rem">
  <h2>{{ x.title }}</h2>

  <p>{{ x.description }}</p>
  </Div>
  {% endfor %}

{% endblock %}  